header {
    height: 80px;
}

header img {
    height: 60px;
}

header h1 {
    margin-left: 20px;
}

main {
    height: calc(100vh - 140px);
    min-height: 200px;
    overflow-y: auto;
    background-image: url(../js-campominato-dom/img/dangermines.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.my-bg{
    background-color: #0f0f0d;
    width: 66%;
}

.my-bg-dark {
    background-color: #0f0f0d;
}

.gridrow {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
}

.box {
    border: 1px solid rgb(212, 202, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.pointer {
    cursor: pointer;
}

footer {
    background-color: white;
    height: 60px;
}
